PORT=3000
JWT_SECRET=nation_builder_secret_key_2024

DB_SERVER=RANJEET\SQLEXPRESS1
DB_INSTANCE=SQLEXPRESS1
DB_USER=sa
DB_PASSWORD=your_sql_server_password
DB_NAME=nation_builder
DB_CONNECTION_LIMIT=10
